<footer>
  <ul>
    <li><h6>&copy; 2014 Welephant. Built in Helsinki. Reach us <%= mail_to 'sherizan@welephant.co', "here", 
                      :cc => "khaled@welephant.co" %>.</h6></li>
  <ul>
</footer>