---
title: Welephant | Buying and selling made easy!
---

<div>
  <h1><%= I18n.t('what') %></h1>
  <h5><%= I18n.t('when') %></h5>
  <p><%= link_to 'Request an Invite', 'http://eepurl.com/TyPEb', :class => 'btn' %></p>
</div>